<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Corona Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <h1>Corona virus tracker application</h1>
    <p>This application lists the current number of cases reported across globe</p>

    <div class="jumbotron">
        <h1 class="display-4" th:text="${TotalCases}"></h1>
        <p class="lead">Total Number of cases reported as of today</p>
        <p class="lead" th:text = "${TotalNewCases}"></p>
        <p class="lead">Total Number of cases reported in last 24 hrs</p>
    </div>

    <table class="table">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Confirmed Cases</th>
            <th>TotalNewCases</th>
        </tr>
        <tr th:each="prod : ${locationStats}">
            <td th:text="${prod.state}">Onions</td>
            <td th:text="${prod.country}">2.41</td>
            <td th:text="${prod.confirmedCases}">yes</td>
            <td th:text="${prod.variation}">yes</td>
        </tr>
    </table>
</div>
<!--<p th:text="${home.welcome}"></p> -->
</body>
</html>